/**
App Style

*/
a:focus,a:hover,a{
    outline:none;
    text-decoration: none;
}
li,ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

/**
Login Style

*/
.wrapper {    
	margin-top: 80px;
	margin-bottom: 20px;
}
.error, .success{
	display: none;
}
.login .form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
  }

.login .form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}
.login .form-signin-wrapper{
	position:relative;
}
.login .form-control {  
  font-size: 16px;
  height: auto;
  padding: 10px;
  top:0;
  bottom: 0;
  left:0;
  right: 0;
  margin-bottom: auto;
}

.login-btn {
  padding: 10px;
}

.login input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.login input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}


/**
 Dashboard Style
**/
/*.dash-main{display:table;}*/

.dash-main aside {
  max-width: 300px;
  width: 250px;
  background: #333;
  height: 100%;
  display: inline-block;
  float: left;
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.dash-main section {
  background: #e8e8e8 none repeat scroll 0 0;
  display: inline-block;
  height: 100%;
  min-height: 100px;
  width: calc(100% - 253px);  
  margin-left: 250px;
  padding:15px;
}


.dash-sideNav > ul > li > a {
  border-bottom: 0.5px solid #262626;
  border-top: 0.5px solid #444444;
  box-sizing: border-box;
  padding: 15px;
}

.dash-sideNav ul ul li  a{
   padding: 15px;
   border-bottom: 1px solid #444; 
}

.dash-sideNav ul ul li:last-child  a{
  border-bottom: none;
}

.dash-sideNav ul li a > i {
  margin-right: 15px;
}

.dash-sideNav > ul > li > a:hover{
    background:#393939;
}

.dash-sideNav ul li a {
  color: #fff;
  display: inline-block;
  width: 100%;
}



.dash-sideNav > ul  ul{
    display: none;
}

.drop-icon {
  float: right;
  font-size: 19px !important;
  padding-top: 1px;
}